nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.1rem;
  pointer-events: none;
  z-index: 1;
}
nav a {
  color: white;
  text-decoration: none;
  pointer-events: auto;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  padding: 0 20px;
}

.header-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.header-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 100px;
  padding: 0 10%;
}
.header-items img {
  max-width: 45%;
  height: auto;
  margin-top: -80px;
}

@media only screen and (max-width: 992px) {
  .header-items {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .header-items img {
    max-width: 100%;
    margin: 0;
    padding-top: 20px;
  }
  .header-items div {
    max-width: 100%;
    text-align: center;
  }
}
.about-container {
  background-color: rgb(8, 8, 8);
}

.about-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 100px;
}
.about-items div:first-child p {
  color: rgb(143, 143, 143);
}
.about-items div:last-child {
  max-width: 70%;
  text-align: justify;
}
.about-items div:last-child p {
  font-size: 2rem;
}

@media only screen and (max-width: 992px) {
  .about-items {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .about-items div:last-child {
    max-width: 100%;
  }
  .about-items div:last-child p {
    font-size: 1.5rem;
  }
}
.projects button {
  background-color: transparent;
  color: rgb(143, 143, 143);
  border: none;
  font-size: 4rem;
  transition: color 0.3s;
  cursor: pointer;
}
.projects button:hover {
  color: rgb(157, 255, 0);
}
.projects .projects-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 50px;
}
.projects .projects-container .projects-display {
  display: flex;
  align-items: center;
}
.projects .projects-container .projects-display .project-pc-wrapper {
  box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
  border-radius: 25px;
}
.projects .projects-container .projects-display .projects-pc-screen {
  background: linear-gradient(109.6deg, rgba(14, 14, 14, 0.93) 11.2%, rgb(19, 19, 19) 78.9%);
  padding: 40px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.projects .projects-container .projects-display .projects-pc-screen img {
  width: 100%;
  height: auto;
}
.projects .projects-container .projects-display .projects-pc-bottom {
  border: 10px solid rgb(233, 233, 233);
  background-color: rgb(233, 233, 233);
  height: 80px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  justify-content: center;
}
.projects .projects-container .projects-description {
  margin-left: 50px;
  text-align: justify;
}
.projects .projects-container .projects-description span {
  font-size: 1.2rem;
}

.projects-animation {
  -webkit-animation: image-animation 1.5s;
          animation: image-animation 1.5s;
}

@-webkit-keyframes image-animation {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes image-animation {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1400px) {
  .projects .projects-container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .projects button {
    font-size: 3rem;
  }
  .projects .projects-container .projects-display {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .projects .projects-container .projects-display .projects-left-btn {
    order: 2;
  }
  .projects .projects-container .projects-display .projects-right-btn {
    order: 3;
  }
  .projects .projects-container .projects-display .project-pc {
    width: 100%;
    order: 1;
  }
  .projects .projects-container .projects-display .projects-pc-screen {
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .projects .projects-container .projects-display .projects-pc-bottom {
    height: 40px;
  }
  .projects .projects-container .projects-description {
    margin-left: 0;
  }
}
.skills {
  align-items: center;
  background-color: rgb(8, 8, 8);
}
.skills .skills-items .skills-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}
.skills .skills-items .skills-item p {
  text-align: right;
}
.skills .skills-items .skills-item .skills-bar h3 {
  text-align: left;
}
.skills .skills-items .skills-item .skills-bar .progress-bar {
  background-color: rgb(143, 143, 143);
  height: 10px;
  width: 500px;
}
.skills .skills-items .skills-item .skills-bar .fill {
  width: 100%;
  height: 100%;
  background-color: rgb(157, 255, 0);
}
.skills .skills-items .skills-item .skills-bar .advanced {
  width: 90%;
}

.contact {
  background-color: rgb(8, 8, 8);
}
.contact a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  transition: color 0.3s;
}
.contact a:hover {
  color: rgb(157, 255, 0);
}
.contact p:first-of-type {
  margin-top: -20px;
  padding-top: 0;
  font-size: 1.1rem;
  color: transparent;
  transition: color 0.3s;
}
.contact h3 {
  cursor: pointer;
  transition: color 0.3s;
}
.contact h3:hover {
  color: rgb(157, 255, 0);
}
.contact h3:hover + p {
  color: rgb(157, 255, 0);
}

body {
  margin: 0;
  color: white;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

canvas {
  width: 100%;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 170px;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 2rem 0;
}

h2 {
  font-size: 2.8rem;
  font-weight: 300;
  letter-spacing: 2px;
}
h2 span {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

h4 {
  font-size: 1.8rem;
  font-weight: 300;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 2rem 0;
}

span {
  color: rgb(157, 255, 0);
}

.btn {
  min-width: 280px;
  padding: 15px 50px;
  margin: 2rem 0;
  font-size: 1.5rem;
  pointer-events: auto;
  cursor: pointer;
  border: none;
}

.primary-btn {
  background-color: rgb(157, 255, 0);
  box-shadow: 6px 6px 0 -3px #7ecc00, 6px 6px rgb(157, 255, 0);
}

@media only screen and (max-width: 992px) {
  section {
    padding: 0 20px;
  }
}/*# sourceMappingURL=main.css.map */