@use "./colors" as colors;

@keyframes color-changer {
    0% {
        color: colors.$first-color;
    }
    40% {
        color: colors.$secondary-color;
    }
    60% {
        color: colors.$third-color;
    }
    100% {
        color: colors.$fourth-color;
    }
}
@keyframes button-changer {
    0% {
        background-color: colors.$first-color;
        box-shadow: 6px 6px 0 -3px darken(colors.$first-color, 10%), 6px 6px colors.$first-color;
    }
    40% {
        background-color: colors.$secondary-color;
        box-shadow: 6px 6px 0 -3px darken(colors.$secondary-color, 10%), 6px 6px colors.$secondary-color;
    }
    60% {
        background-color: colors.$third-color;
        box-shadow: 6px 6px 0 -3px darken(colors.$third-color, 10%), 6px 6px colors.$third-color;
    }
    100% {
        background-color: colors.$fourth-color;
        box-shadow: 6px 6px 0 -3px darken(colors.$fourth-color, 10%), 6px 6px colors.$fourth-color;
    }
}
