$first-color: rgb(157, 255, 0);
$white-color: white;
$secondary-white:rgb(143, 143, 143);
$background-color: black;
$secondary-background:rgb(8, 8, 8);
$projects-pc-background:linear-gradient(
    109.6deg,
    rgba(14, 14, 14, 0.93) 11.2%,
    rgb(19, 19, 19) 78.9%
);
$projects-pc-bottom:rgb(233, 233, 233);