@use "./colors" as colors;
.contact {
    background-color: colors.$background-color;
    a {
        color: colors.$white-color;
        text-decoration: none;
        font-size: 1.4rem;
        transition: color 0.3s;
    }
    a:hover {
        color: colors.$first-color;
    }
    h2 {
        cursor: pointer;
        transition: color 0.3s;
    }
    h2:hover {
        color: colors.$first-color;
    }
    .contact-hidden{
        color: colors.$first-color;
        opacity: 0;
        transition: opacity 0.5s;
    }
    h2:hover + .contact-hidden {
        opacity: 1;
    }
}
