@use "./colors" as colors;

.projects {
    button {
        background-color: transparent;
        color: colors.$secondary-white;
        border: none;
        font-size: 4rem;
        transition: color 0.3s;
        cursor: pointer;
    }
    button:hover {
        color: colors.$first-color;
    }
    .projects-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding-top: 50px;
        .projects-display {
            display: flex;
            align-items: center;
            .project-pc-wrapper {
                box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
                border-radius: 25px;
            }
            .projects-pc-screen {
                background: colors.$projects-pc-background;
                padding: 40px;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                img {
                    width: 100%;
                    height: auto;
                    cursor: pointer;
                }
            }
            .projects-pc-bottom {
                border: 10px solid colors.$projects-pc-bottom;
                background-color: colors.$projects-pc-bottom;
                height: 80px;
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
                display: flex;
                justify-content: center;
            }
        }
        .projects-description {
            margin-left: 50px;
            text-align: justify;
            span {
                font-size: 1.2rem;
            }
        }
    }
}
.projects-animation {
    animation: image-animation 1.5s;
}
@keyframes image-animation {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1400px) {
    .projects {
        .projects-container {
            grid-template-columns: 1fr;
        }
    }
}
@media only screen and (max-width: 600px) {
    .projects {
        button {
            font-size: 3rem;
        }
        .projects-container {
            .projects-display {
                flex-wrap: wrap;
                justify-content: center;
                gap: 40px;
                .projects-left-btn {
                    order: 2;
                }
                .projects-right-btn {
                    order: 3;
                }
                .project-pc {
                    width: 100%;
                    order: 1;
                }
                .projects-pc-screen {
                    padding: 10px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
                .projects-pc-bottom {
                    height: 40px;
                }
            }
            .projects-description {
                margin-left: 0;
            }
        }
    }
}
